#mailListManage_addNewUser{
    width:650px;
    background: #fff;
}
#SMSconcern{
    display: none;
}
.title{
    height:39px;
    line-height: 39px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #4c4c4c;
    border-bottom: 1px solid #e6e6e6;
    background: #fafafa;
}
.main{
    height:50px;
    line-height: 50px;
    position: relative;
}
.regionSelectDiv,.streetSelectDiv,.unitSelectDiv{
    margin-top: 10px;
    margin-left: 13px;
    border-right:1px solid #e6e6e6;
}
.main span{
    float: left;
    width:52px;
    margin-left: 15px;
    font-size: 13px;
    color: #4c4c4c;
}
.main input[type="text"]{
    float: left;
    width:226px;
    height:28px;
    margin-top: 10px;
    margin-left: 13px;
    padding-left: 8px;
    font-size: 13px;
    color: #4c4c4c;
    border:1px solid #e6e6e6;
}
.main input[type="text"].warn{
    border-color: #fe6060;
}
.main input[type="text"]:hover,.main input[type="text"]:focus{
    border-color:#3bb9d4;
}
.main input[type="radio"] + label{
    float: left;
    margin-top: 18px;
    margin-left: 13px;
    cursor: pointer;
}
.main input[type="radio"]{
    margin-left: 10px;
}
.main p:nth-of-type(1){
    position: absolute;
    top:4px;
    left:46%;
    font-size: 20px;
    font-weight: bold;
    color: #fe6060;
}
.main p:nth-of-type(2){
    position: absolute;
    top:4px;
    right:4.2%;
    font-size: 20px;
    font-weight: bold;
    color: #fe6060;
}
/****************自定义下拉选择框样式****************beigin*/
.select_box{
    /*margin-top: 10px;*/
    /*margin-left: 13px;*/
    margin-right:0;
    border:1px solid #e6e6e6;
}
.select_box:hover{
    border:1px solid #3bb9d4;
}
.select_showbox{
    background-color: #fff;
    color: #525e66;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    background: url(../images/select.png) no-repeat 0 center;
}
.select_option li.hover{
    background: #3bb9d4 ;
}
/****************自定义下拉选择框样式****************end*/
.foot{
    height:60px;
}
#nextBtn{
    float: right;
    width:108px;
    height:28px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: #3bb9d4;
    cursor: pointer;
}
#cancelBtn{
    float: right;
    width:108px;
    height:28px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
    color: #4c4c4c;
    cursor: pointer;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
    border: 1px solid #3bb9d4;
    background-color: #3bb9d4;
    font-weight: normal;
    color: #999;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 1px solid #3bb9d4;
    background-color: #3bb9d4;
    color: #fff;
}



/*************短信关注站点*****************/
.conditionType{
    height:50px;
}
.siteTypeTab{
    margin-top: 10px;
    margin-left: 20px;
}
.siteTypeTab li{
    float: left;
    width:98px;
    height:28px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    color: #666;
    border: 1px solid #d1d6e0;
    border-right-color:transparent;
    cursor: pointer;
}
.siteTypeTab li:last-child{
    border-right: 1px solid #d1d6e0;
}
.siteTypeTab li:hover,.siteTypeTab li.active{
    color: #fff;
    background: #3bb9d4;
}
.selectDiv{
    margin-top: 10px;
}
.searchDiv{
    margin-top: 10px;
    margin-right: 20px;
}
#searchIpt{
    width:128px;
    height:28px;
    padding-left: 8px;
    font-size: 12px;
    color: #919aa1;
    line-height:28px;
    border:1px solid #dee5e7;
}
#searchBtn{
    float: right;
    width:40px;
    height:28px;
    background: #3bb9d4 url("../images/sea_big.png") no-repeat center;
    cursor: pointer;
}
/**************自定义下拉选择框样式*************beigin*/
.select_box{
    margin-top: 0;
    margin-right: 0;
    border: 1px solid #e6e6e6;
    border-right-color:transparent;
}
.select_box:hover{
    border: 1px solid #3bb9d4;
}
.select_showbox{
    background-color: #fff;
    color: #525e66;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    background: url(../images/select.png) no-repeat 0 center;
}
.select_option li.hover{
    background: #3bb9d4;
}
/**************自定义下拉选择框样式*************end*/
.content{
    display: none;
    width:calc(100% - 20px*2);
    margin:0 auto;
}
.allSiteContainer,.concernedSiteContainer{
    border: 1px solid #eaeaeb;
}
.concernedSiteContainer{
    margin-top: 10px;
}
.allSiteTitle,.concernedSiteTitle{
    height:29px;
    line-height: 29px;
    font-size: 13px;
    font-weight: bold;
    color: #4c4c4c;
    background: #fafafa ;
    border-bottom: 1px solid #eaeaeb;
}
.regular-checkbox + label{
    margin-left: 20px;
}
.allSiteTitle span{
    margin-left: 5px;
    vertical-align: middle;
}
.allSiteTitle div{
    margin-right: 100px;
    font-weight: normal;
}
.allSiteTitle div b{
    padding-left: 23px;
    background: url("../images/warn.png") no-repeat 3px center;
}
.allSiteContent{
    height:130px;
    overflow: auto;
}
.allSiteContent ul{
    margin-top: 5px;
}
.allSiteContent ul li{
    float: left;
    width:115px;
    height:40px;
    line-height: 40px;
    font-size: 13px;
    color: #4c4c4c;
}
.allSiteContent ul li span,.concernedSiteWrap ul li span{
    vertical-align: middle;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0 !important;
}
.concernedSiteTitle > span:nth-child(1){
    margin-left: 20px;
}
.concernedSiteTitle > span:nth-child(2){
    font-weight: normal;
}
#delBtn,#delBtn2{
    position: relative;
    width:40px;
    height:30px;
    border-left: 1px solid #eaeaeb;
    background: url("../images/mess_rub_red.png") no-repeat center;
    cursor: pointer;
}
.tip{
    display: none;
    position: absolute;
    padding:0 5px;
    line-height:20px ;
    text-align: center;
    font-size: 12px;
    background: #3bb9d4;
    color: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    white-space:nowrap;
}
.concernedSiteContent{
    max-height:200px;
    overflow: auto;
}
.concernedSiteContent ul li{
    float: left;
    width:115px;
    height:50px;
    line-height: 50px;
    font-size: 13px;
    color: #4c4c4c;
}

.foot{
    height:70px;
}
#prevBtn{
    float: right;
    width:108px;
    height:28px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: #3bb9d4;
    cursor: pointer;
}
#confirmBtn{
    float: right;
    width:108px;
    height:28px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: #3bb9d4;
    cursor: pointer;
}
#cancelBtn2{
    float: right;
    width:108px;
    height:28px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
    color: #4c4c4c;
    cursor: pointer;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
    border: 1px solid #3bb9d4;
    background-color: #3bb9d4;
    font-weight: normal;
    color: #999;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 1px solid #3bb9d4;
    background-color: #3bb9d4;
    color: #fff;
}



