.title{
    height:48px;
    line-height: 48px;
    font-size: 13px;
    font-weight: bold;
    color: #4c4c4c;
    background: #fafafa ;
    border-bottom: 1px solid #eaeaeb;
}
.title p{
    float: left;
    width:20px;
    height:48px;
    margin-left: 20px;
    background: url("../images/mess_tem.png") no-repeat left center;
}
.title span{
    float: left;
    margin-left: 5px;
}
.operDiv{
    height:70px;
}
.searchDiv{
    float: right;
}
#importUserBtn,#batchRemoveBtn{
    float: left;
}
.searchDiv{
    width:163px;
    height:28px;
    margin-top: 21px;
    margin-right: 30px;
}
#searchIpt{
    width:113px;
    height:26px;
    padding-left: 8px;
    font-size: 12px;
    color: #919aa1;
    line-height:26px;
    border:1px solid #dee5e7;
}
#searchBtn{
    float: right;
    width:40px;
    height:28px;
    background: #3bb9d4 url("../images/sea_big.png") no-repeat center;
    cursor: pointer;
}
#importUserBtn{
    width:98px;
    height:26px;
    margin-top: 22px;
    margin-left: 21px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: #3bb9d4;
    cursor: pointer;
}
#batchRemoveBtn{
    width:98px;
    height:26px;
    margin-top: 22px;
    margin-left: 21px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    font-weight: bold;
    color: #666666;
    border:1px solid #dee5e7;
    cursor: pointer;
}
.listTitle{
    width:calc(100% - 15*2px);
    height:40px;
    margin:0 auto;
    background: #fafafa;
}
.listTitle li{
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
    color: #666666;
}
.listTitle li:nth-child(1){
    width:10%;
}
.listTitle li:nth-child(2){
    width:20%;
}
.listTitle li:nth-child(3){
    width:50%;
}
.listTitle li:nth-child(4){
    width:20%;
}
.wrap{
    width:calc(100% - 15*2px);
    margin:0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.listContent li{
    height:39px;
    border-bottom: 1px solid #f2f2f2;
}
.listContent li > div{
    float: left;
    height:40px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #666666;
}
.listContent li:hover > div{
    color: #3bb9d4;
}
.listContent li > div:nth-child(1){
    width:10%;
}
.listContent li > div:nth-child(2){
    width:20%;
}
.listContent li > div:nth-child(3){
    width:50%;
}
.listContent li > div:nth-child(4){
    width:20%;
    position: relative;
}
.modelContent{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.operBox{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width:60px !important;
    height:16px;
    margin:auto;
    cursor: pointer;
}
.editBtn{
    float: left;
    width:16px;
    height:16px;
    background: url("../images/edit.png") no-repeat right 0;
}
.listContent li:hover .editBtn{
    background: url("../images/edit.png") no-repeat left 0;
}
.delBtn{
    float: left;
    width:20px;
    height:20px;
    margin-top: -2px;
    margin-left: 10px;
    background: url("../images/deleteIcon.png") no-repeat -40px -20px;
}
.listContent li:hover .delBtn{
    background: url("../images/deleteIcon.png") no-repeat -40px 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
    border: 1px solid #3bb9d4;
    background-color: #3bb9d4;
    font-weight: normal;
    color: #999;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 1px solid #3bb9d4;
    background-color: #3bb9d4;
    color: #fff;
}
.select_option li.hover{
    background: #3bb9d4 ;
}