#personManage_addNewUser{
    width:650px;
    height:460px;
    background: #fff;
}
.title{
    height:39px;
    line-height: 39px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #4c4c4c;
    border-bottom: 1px solid #e6e6e6;
    background: #fafafa;
}
.content{
    height:50px;
    line-height: 50px;
    position: relative;
}
.content span{
    margin-left: 16px;
    font-size: 13px;
    color: #4c4c4c;
}
.content input[type="text"]{
    height:28px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 13px;
    color: #4c4c4c;
    border:1px solid #e6e6e6;
}
.content input[type="text"]:hover,.content input[type="text"]:focus{
    border-color:#3bb9d4;
}
.content input[type="radio"] + label{
    margin-top: -3px;
    margin-left: 10px;
    cursor: pointer;
}
.inputText{
    width:220px;
}
.content input[type="radio"]{
    margin-left: 10px;
}
.content p{
    position: absolute;
    top:4px;
    left:46%;
    font-size: 20px;
    font-weight: bold;
    color: #fe6060;
}
.notice{
    position: absolute;
    top:4px;
    right:4.5%;
    font-size: 20px;
    font-weight: bold;
    color: #fe6060;
}
/****************自定义下拉选择框样式****************beigin*/
.select_box{
    margin-top: 10px;
    margin-left: 13px;
}
.select_showbox{
    background-color: #fff;
    color: #525e66;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border:1px solid #e6e6e6;
    background: url(../images/select.png) no-repeat 0 center;
}
.select_option{
    left:-1px;
}
/****************自定义下拉选择框样式****************end*/
.selectIntroduce{
    float: left;
}
.street{
    margin-left: 11px !important;
}
.iptText{
    width:538px;
    height:28px;
    margin-left: 10px;
    padding-left: 10px;
    border:1px solid #e6e6e6;
}
.iptText_{
    margin-left: 36px !important;
}
.foot{
    height:70px;
}
#addUserBtn{
    float: right;
    width:108px;
    height:28px;
    margin-top: 21px;
    margin-right: 20px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background: #3bb9d4;
    cursor: pointer;
}
#cancelBtn{
    float: right;
    width:108px;
    height:28px;
    margin-top: 21px;
    margin-right: 20px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
    color: #4c4c4c;
    cursor: pointer;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
    border: 1px solid #3bb9d4;
    background-color: #3bb9d4;
    font-weight: normal;
    color: #999;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 1px solid #3bb9d4;
    background-color: #3bb9d4;
    color: #fff;
}
.select_option li.hover{
    background: #3bb9d4 ;
}


#addUserBtn{
    border: 1px solid #3bb9d4;
 }
